.title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #0d625c;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    background: linear-gradient(to right, #009688, #00695c);
    color: white;
    font-size: 18px;
    padding: 12px;
}

:host ::ng-deep .p-datatable .p-datatable-tbody>tr:hover {
    background: #c2fff4 !important;
}

.filter-card {
    padding: 18px;
    margin: 20px 0;
    border-radius: 12px;
    background: #f6fbfb;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.grid-new {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 1;
    min-width: 150px;
    display: flex;
    flex-direction: column;
}

.col label {
    margin-bottom: 6px;
    font-weight: 600;
    color: #075e54;
}

.btn-group {
    margin-top: 22px;
    display: flex;
    gap: 15px;
}

.required {
    color: red;
}

.prediction-container {
    background: #ffffff;
    border-radius: 14px;
}

.custom-table .p-datatable-header {
    background: #f8f9fa;
    font-weight: 600;
}

.custom-table th {
    background-color: #eef3f7 !important;
    color: #3b82f6;
    font-size: 1rem;
    padding: 14px;
}

.custom-table td {
    padding: 12px;
    font-size: 0.95rem;
}

.price-badge {
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 0.95rem;
}

.min-badge {
    background-color: #e0f2fe;
    color: #0284c7;
}

.max-badge {
    background-color: #fee2e2;
    color: #dc2626;
}

.card {
    border: 1px solid #e5e7eb;
}

h4 {
    font-size: 1.6rem;
    color: #2563eb;
    font-weight: 700;
}

.prediction-container {
    background: #ffffff;
    border-radius: 14px;
}

.price-card {
    padding: 16px;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}

.min-card {
    background-color: #e0f2fe;
    color: #0284c7;
}

.max-card {
    background-color: #fee2e2;
    color: #dc2626;
}

h2 {
    font-weight: 700;
}