/* Card Styling */
.card {
  max-width: 900px;
  margin: 35px auto;
  padding: 30px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

/* Form Field */
.p-field {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
  margin-bottom: 5px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}


/* Button */
.submit-btn {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border-radius: 8px;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
